<form>
  Search: <input type="text" class="track-name">
  <button class="js-search-tracks" type="button">Go!</button>
</form>

<div class="widget">
  <div class="header">
    <!-- Try adding/removing these classes: -->
    <!-- disabled -->
    <!-- playing -->
    <div class="btn-play"></div>

    <div class="metadata">
      <p class="title js-artist"></p>
      <p class="author js-track"></p>

      <div class="seekbar">
        <progress value="5" max="30" class="js-progress-bar"></progress>
      </div>
    </div>
  </div>
  <div class="cover">
    <img src="https://i.scdn.co/image/04da6dfc1f5f45fdeba938a0cc71cf372524fd43">
  </div>

  <audio id="audio" src="" class="js-player"></audio>
</div>